Repository MathGrass/mathgrass-api: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pages, build-api

.gitlab-ci.yml:

pages:
  image: python:latest
  stage: deploy
  only:
    changes:
      - docs/**/*
      - mkdocs.yml
  script:
    - pip install mkdocs
    - mkdocs build --site-dir public
  artifacts:
    paths:
      - public

build-api:
  image: eclipse-temurin:17
  stage: build
  only:
    changes:
      - api/**/*
  script:
    - cd "api"
    - ./gradlew generateApi
    - ./gradlew build

fix: Result evaluation
  evaluator/docker_container.py
Due: none

fix: Fix result evaluation
  evaluator/tests/test_basic_evaluator.py
Due: none

fix: Fix result evaluation
  evaluator/docker_container.py
Due: none

feat: model description + concept of services
  docs/usage/concepts.md
Due: pages

feat: completed interface
  evaluator/abstract_evaluator.py
Due: none

feat: no squares in architecture image (docs)
  docs/images/er-diagram.png
Due: pages

fix: evaluator docker log processing
  evaluator/docker_container.py
Due: none

feat: added task hint endpoint
  api/openapi-spec/graphex-minimal.yaml
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/api/AbstractApiElement.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/api/TaskApiImpl.java
Due: build-api

feat: troubleshooting hint
  docs/usage/troubleshooting.md
Due: pages

feat: tests
  api/openapi-spec/graphex-minimal.yaml
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/api/TagApiImpl.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/api/TaskApiImpl.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/api/TaskCollectionApiImpl.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/api/TaskSolverApiImpl.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/api/TaskTopicApiImpl.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/database/entity/GraphEntity.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/database/entity/TaskCollectionEntity.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/database/entity/TaskEntity.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/database/entity/TaskTemplateEntity.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/database/entity/TaskTopicEntity.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/transform/TaskSolverTransformer.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/transform/TaskTransformer.java
  api/src/test/java/de/tudresden/inf/st/mathgrassserver/TaskApiTest.java
  api/src/test/java/de/tudresden/inf/st/mathgrassserver/api/EvaluatorApiImplTest.java
  api/src/test/java/de/tudresden/inf/st/mathgrassserver/api/GraphApiImplTest.java
  api/src/test/java/de/tudresden/inf/st/mathgrassserver/api/TagApiImplTest.java
  api/src/test/java/de/tudresden/inf/st/mathgrassserver/api/TaskApiImplTest.java
  api/src/test/java/de/tudresden/inf/st/mathgrassserver/api/TaskCollectionApiImplTest.java
  api/src/test/java/de/tudresden/inf/st/mathgrassserver/api/TaskSolverApiImplTest.java
  api/src/test/java/de/tudresden/inf/st/mathgrassserver/api/TaskTemplateApiImplTest.java
  api/src/test/java/de/tudresden/inf/st/mathgrassserver/api/TaskTopicApiImplTest.java
  api/src/test/java/de/tudresden/inf/st/mathgrassserver/api/TestHelper.java
  api/src/test/java/de/tudresden/inf/st/mathgrassserver/custom/TaskRunner.java
  evaluator/docker_manager.py
  evaluator/tests/test_basic_evaluator.py
Due: build-api

feat: presentation setup
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/transform/TaskTemplateTransformer.java
  api/src/test/java/de/tudresden/inf/st/mathgrassserver/api/TaskApiImplTest.java
  api/src/test/java/de/tudresden/inf/st/mathgrassserver/api/TestHelper.java
Due: build-api

feat: increased max tries polling
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/api/EvaluatorApiImpl.java
Due: build-api

feat: test fixes
  api/openapi-spec/graphex-minimal.yaml
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/api/TaskApiImpl.java
  api/src/test/java/de/tudresden/inf/st/mathgrassserver/api/TaskApiImplTest.java
  api/src/test/java/de/tudresden/inf/st/mathgrassserver/api/TestHelper.java
Due: build-api

chore: Add CI workflow for building documentation
  .github/deploy-gh-pages.yaml
Due: none

Delete .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

chore: Rename doc workflow, Listen only to changes in documentation
  .github/deploy-gh-pages.yml
Due: none

chore: Move docu CI action
  .github/workflows/deploy-gh-pages.yml
Due: none

chore: Add CI for building Java API
  .github/workflows/gradle.yml
Due: none

fix: Correct path settings in docu CI
  .github/workflows/deploy-gh-pages.yml
Due: none

chore: Make gradle action build only on api changes
  .github/workflows/gradle.yml
Due: none

fix: Make tag cascade cascade merge
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/database/entity/GraphEntity.java
Due: build-api

chore: Remove unused imports
  api/build.gradle
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/api/TaskApiImpl.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/transform/TaskTransformer.java
  api/src/test/java/de/tudresden/inf/st/mathgrassserver/api/EvaluatorApiImplTest.java
  api/src/test/java/de/tudresden/inf/st/mathgrassserver/api/GraphApiImplTest.java
  api/src/test/java/de/tudresden/inf/st/mathgrassserver/api/TaskApiImplTest.java
  api/src/test/java/de/tudresden/inf/st/mathgrassserver/api/TaskCollectionApiImplTest.java
  api/src/test/java/de/tudresden/inf/st/mathgrassserver/api/TaskTemplateApiImplTest.java
  api/src/test/java/de/tudresden/inf/st/mathgrassserver/api/TaskTopicApiImplTest.java
  api/src/test/java/de/tudresden/inf/st/mathgrassserver/api/TestHelper.java
Due: build-api

chore: Remove docu
  .github/workflows/deploy-gh-pages.yml
  docs/devops/build.md
  docs/devops/openapi.md
  docs/devops/prerequisites.md
  docs/images/architecture.png
  docs/images/er-diagram.png
  docs/images/intellij-debug-setup.png
  docs/index.md
  docs/usage/concepts.md
  docs/usage/troubleshooting.md
  docs/usage/usage.md
  mkdocs.yml
Due: pages

style: Optimize imports, fix styling issues, etc.
  evaluator/Dockerfile
  evaluator/abstract_evaluator.py
  evaluator/basic_evaluator.py
  evaluator/database.py
  evaluator/docker_container.py
  evaluator/docker_manager.py
  evaluator/main.py
  evaluator/model/graph_model.py
  evaluator/rabbitmq_client.py
  evaluator/tests/test_basic_evaluator.py
Due: none

style: Add comments and replace print with logging
  evaluator/abstract_evaluator.py
  evaluator/basic_evaluator.py
  evaluator/database.py
  evaluator/docker_container.py
  evaluator/docker_manager.py
  evaluator/logging.conf
  evaluator/main.py
  evaluator/model/graph_model.py
  evaluator/rabbitmq_client.py
Due: none

style: Add documentation for evaluator package and some code improvements
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/evaluator/EvaluationRequestMessage.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/evaluator/MessageBrokerConn.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/evaluator/TaskManager.java
Due: build-api

style: Add comments in main
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/MathgrassServerApplication.java
Due: build-api

chore: Add TODO
  evaluator/docker_container.py
Due: none

chore: Add TODO
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/MathgrassServerApplication.java
Due: build-api

chore: Add TODO
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/api/EvaluatorApiImpl.java
Due: build-api

style: Add documentation for api package and some code improvements
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/api/AbstractApiElement.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/api/EvaluatorApiImpl.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/api/GraphApiImpl.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/api/TagApiImpl.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/api/TaskApiImpl.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/api/TaskCollectionApiImpl.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/api/TaskSolverApiImpl.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/api/TaskTemplateApiImpl.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/api/TaskTopicApiImpl.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/evaluator/MessageBrokerConn.java
Due: build-api

style: Add documentation for DemoDataProvider and some code improvements
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/demodata/DemoDataProvider.java
Due: build-api

style: Add documentation for transformer package and some code improvements
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/transform/EdgeTransformer.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/transform/FeedbackTransformer.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/transform/GraphTransformer.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/transform/ModelTransformer.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/transform/TagTransformer.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/transform/TaskCollectionTransformer.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/transform/TaskHintTransformer.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/transform/TaskResultTransformer.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/transform/TaskSolverTransformer.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/transform/TaskTemplateTransformer.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/transform/TaskTopicTransformer.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/transform/TaskTransformer.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/transform/VertexTransformer.java
Due: build-api

style: Add missing Repository annotations
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/database/DatabaseConnection.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/database/repository/FeedbackRepository.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/database/repository/TagRepository.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/database/repository/TaskCollectionRepository.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/database/repository/TaskTopicRepository.java
Due: build-api

style: Remove unnecessary whitespaces in database.entity package
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/database/entity/EdgeEntity.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/database/entity/FeedbackEntity.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/database/entity/GraphEntity.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/database/entity/TagEntity.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/database/entity/TaskCollectionEntity.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/database/entity/TaskEntity.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/database/entity/TaskHintEntity.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/database/entity/TaskResultEntity.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/database/entity/TaskSolverEntity.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/database/entity/TaskTemplateEntity.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/database/entity/TaskTopicEntity.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/database/entity/VertexEntity.java
Due: build-api

dev: Add dummy implementation for hints
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/api/TaskApiImpl.java
Due: build-api

chore: Replace console prints with logging
  api/build.gradle
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/MathgrassServerApplication.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/evaluator/MessageBrokerConn.java
Due: build-api

chore: Add documentation for attributes of database entity classes
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/database/entity/EdgeEntity.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/database/entity/FeedbackEntity.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/database/entity/GraphEntity.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/database/entity/TagEntity.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/database/entity/TaskCollectionEntity.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/database/entity/TaskEntity.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/database/entity/TaskHintEntity.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/database/entity/TaskResultEntity.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/database/entity/TaskSolverEntity.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/database/entity/TaskTemplateEntity.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/database/entity/TaskTopicEntity.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/database/entity/VertexEntity.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/demodata/DemoDataProvider.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/transform/EdgeTransformer.java
  api/src/main/java/de/tudresden/inf/st/mathgrassserver/transform/GraphTransformer.java
Due: build-api

style: Make coordinate parameters of Python Vertex class to int
  evaluator/model/graph_model.py
Due: none
